@using DamacanaWeb.Models
@model List<DamacanaWeb.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<h2>Add New Potion</h2>

@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
{
    <button type="submit" class="btn btn-warning">Add New Potion</button>
    <br />
    <br />
}


@foreach (Product p in Model)
{
    <hr />
    <tr>
        <td>
            <img style="float:left;margin-right:10px" src="http://vignette1.wikia.nocookie.net/herebemonsters/images/4/48/Four_hour_potion.png/revision/latest?cb=20130729132335" height="60" width="50">
        </td>
        <td>
            <h4><b>
                 @p.Name (@p.Id)
            </b></h4>

            <p>
                @p.Price
            </p>
        </td>
    </tr>
    <div style="float:right">
        @Html.ActionLink("Add To Bag", "AddToBag", new { id = p.Id }) |

        @Html.ActionLink("Edit", "EditProduct", new { id = p.Id }) |

        @Html.ActionLink("Delete", "Delete", new {   })

        <!-- 
        <div class="delete-section">
            <a class="delete-link" href="@Url.Action("Delete", new {id = p.Id})">Dellete</a>
            <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@p.Id">Confirm Delete</div>
        </div>
        -->
                
    </div>
    <br />
}


